# Temporary file directory
tmp/

# Build output
public/

# Nix / Ruby dev
.gems/
.direnv/
flake.lock

# Crash Log
crash.log

.DS_Store
Thumbs.db

houston/
icons/
houston-logo.png
houston.zip
.byebug_history